body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
.name-color{
    color: orange;
}
section{
    display: flex;
    justify-content:first baseline;
}
.half-width{
    width: 50%;
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 0%;
    block-size: 50px;
}
.half-width img{
    width: 70%;
    padding-left: 110%;
    padding-top: 0%;
}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight:700;
}
.top-banner{
    background-image: url(developer-portfolio-master/developer-portfolio-master/images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big img{
    height: 90%;
    width: 90%;
    padding-top: 1%;
    padding-left: 0%;
}
.dream-big .half-width{
    height: 20%;
    width: 50%;
    padding-top: 50%;
    padding-left: 10%;
    padding-right: 8%;
    
}