body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.name-color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 10px;

}
.half-width{
    width: 50%;
    padding-top: 1%;
    padding-left: 5%;
    padding-right: 0%;
    block-size: 50px;
}
.half-width img{
    width: 70%;
    padding-left: 110%;
    padding-top: 0%;
}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight:700;
}
.top-banner{
    background-image: url(developer-portfolio-master/developer-portfolio-master/images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big img{
    height: 110%;
    width: 100%;
    padding-left: 0%;
}
.dream-big .half-width{
    height: 20%;
    width: 50%;
    padding-top: 50%;
    padding-left: 5%;
    padding-right: 10%;
}
.dream-big{
    background-image: url(developer-portfolio-master/developer-portfolio-master/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    padding-bottom: 150px;
}
.experience-area{
    background-image: url(developer-portfolio-master/developer-portfolio-master/images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-bottom: 100px;
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
}
#full-stack-developer{
    border-left: 7px solid tomato;
}
#baby-web-developer{
    border-left: 7px solid blue;
}

footer p{
    text-align: center;
}